body {
    font-size: 25px;
}

* {
    box-sizing: border-box;
}

.block {
    background: rgb(234, 234, 255);
}

.block-2 {
    background: #f7d5a3;
    padding: 20px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}

/* ======================== */

.block {
    height: 720px;
    overflow: auto;
    border-radius: 38px 0 0 38px;
    border: 1px solid black;
}

.block-2 {
    display: inline-block;
    width: 400px;
    border: 1px solid black;
    border-radius: 38px;
    box-shadow: -1px 4px 20px 0px rgba(0, 0, 0, 0.23) inset;
}