:root {
    --general-text: #111111;
    --general-bg: #FFFFFF;
    --general-bg-2: #F8F8F8;
    --accent-text: #000000;
    --accent-bg-2: #C5358C;

}

.body {
    font-family: "Arial", sans-serif;
    color: var(--general-text);
    overflow-x: hidden;
}


.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1378px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.main {
    flex-grow: 1;
}

.main__categories {
    padding: 150px 0;
}

.main__expert-reviews {
    padding-top: 150px;
}

.main__benefits {
    padding: 150px 0 150px 0;
}

.main__offers {
    padding: 150px 0;
}

.main__reviews {
    padding: 150px 0;
}

.main__faq {
    padding: 150px 0;
}

.title {
    color: var(--general-text);
    font-family: "NAMU Pro";
    font-size: 42px;
    font-weight: 900;
    line-height: 50px;
}